
.nav {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    background: linear-gradient(
        180deg,
        #1D1D1D 0%,
        rgba(29, 29, 27, 0) 100%
    );
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: rgb(231, 225, 212);
    font-size: 25px;
    padding-top:40px;    
}

.nav-left {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 20px;
}
.logo {
    margin: 0;
    display: block;
    margin-top: 60px;
    height: 125px;
    width: 100px;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 0;
    list-style: none;
    margin-left: 20px;
}
.logo-nav{
    max-height: 85px;
    margin: 0 20px 0 0;
    border-radius: 20px;
}

.nav-item{
    margin: 0 20px 0 20px;
}

.users-links {
    width: 30%;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: nowrap;
}

.btn-hacete-socio {
  height: 45px;
  width: 150px;
  font-size: 14px;
  display: flex;
  background-color: #ff5e00; 
  color: white;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
}

.btn-hacete-socio:hover {
  background-color: #ff7f3f;
}

.btn-socios {
  height: 45px;
  width: 150px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(231, 225, 212);
  border: 2px solid #ff5e00;
  padding: 0 20px;
  border-radius: 5px;
}

.btn-socios:hover {
  background-color: rgba(255,94,0,0.2);
}

.btn-tienda {
  height: 45px;
  width: 150px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(231, 225, 212);
  border: none;
  padding: 0 20px;
  border-radius: 5px;
}


.btn-tienda:hover {
  background-color: rgba(255,94,0,0.2);
}
