.app-store {
  background-color: #fff;
  height: 100vh;
}
.product-card {
  background-color: #ffffff;
  color: black;
  width: 200px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 0px 10px 1px #00000088;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 16px;
  margin: 5px 0;
}

.product-card p {
  margin: 5px 0 10px 0;
}
