/* footer */

footer {
    background-color: var(--color-gris-oscuro);
    color: #fff;
    padding: 100px 0 20px 0;
    margin-top: 50px;
}
.footer-content {
    display: flex;
    padding: 70px 120px;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    
}
.footer-content-publi {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap; 
    list-style: none; 
    padding: 30px 50px; 
    margin-top: 0;

}
.linea {
  height: 2px; 
  background-color: var(--color-naranja); 
  display: flex;
  margin: 50px 40px;
}

.footer-content-publi li {
    width: 100px; 
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0; 
}
.footer-content-publi li img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block;
    
}

.social-media {
    margin-left: auto;
}
.derecha {
    display: flex;
    justify-content: flex-end;
}
.footer-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
}
.logo_footer {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 125px;
    width: 100px;
}
.logo_footer img{
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
}
.redes-container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: auto;
}
.social-media-footer {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  background: rgba(29,29,29,0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.social-media-footer:hover {
  background: #ff5e00;
}
.copyright {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.8;
}
.copyright p {
    margin: 0;
}
.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {

    .footer-content {
        padding: 70px 50px;
        margin: 0;

    }
    .footer-content-publi {
        justify-content: center; 
        padding: 20px 10px; 
        gap: 40px;
    }

    .linea {
      margin: 50px 20px;
    }

   
    .redes-container-footer {
        gap: 30px;
    }
    .copyright {
        flex-direction: column;
    }
}