.socios-container {
  max-width: 1200px;
  margin: 200px auto 0 auto;
  padding: 20px;
  color: #eee;
  background-color: #222; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
  text-align: center;
}

.socios-form {
  display: flex;
  flex-direction: column;
}

.socios-form label {
  text-align: left; 
  margin-bottom: 6px;
  margin-top: 10px;
  font-weight: bold;
}

.socios-form input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.socios-form input::placeholder {
    color: #999; 
}

.socios-form input:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 5px #ff6600;
}

.submit-button {
  padding: 12px;
  background-color: #ff6600;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
   background-color: #e65c00;
}

.mensaje-simulado {
    margin-top: 20px;
    color: #ff6600; 
    font-weight: bold;
}