/* carrusel */
.carru {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #1D1D1D 0%, rgba(29, 29,27, 0) 100%);
    overflow: hidden;
    z-index: 1;
}
/* overlay */
.overlay {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.7px); /* desenfoque */
}

/* tabla de posiciones y daily check*/
.izquierda {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 430px;
  margin-left: 40px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

/* tabla de posiciones */
.cards-container > * {
  margin-top: 25px;
  height: 280px; 
  overflow: auto; /* si el contenido excede,  wertyip+agrega scroll */
  box-shadow: 0px 0px 10px 1px #000000ee;
}

.daily-check, .positions {
  width: 100%;
  border-radius: 15px;
}

.positions::-webkit-scrollbar {
  width: 20px;
}

.positions::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.positions::-webkit-scrollbar-thumb {
  background: #ff5e00;
  border-radius: 10px;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 40px;
}

.social-media {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  background: rgba(29,29,29,0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.social-media:hover {
  background: #ff5e00;
}

/* noticias */
.noticias-carrusel-constante {
  position: relative; 
  overflow: hidden;
  margin-top: -100px;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  z-index: 10; 
}

.noticias-track {
  display: flex;
  width: max-content;
  animation: scrollNoticias 55s linear infinite;
  animation-direction: reverse;
}

@keyframes scrollNoticias {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.card_noticias {
  position: relative;
  width: 380px;
  height: 250px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  perspective: 1000px;
  flex: 0 0 auto;
  margin-right: 20px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.card_noticias img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card_noticias_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card_noticias:hover .card_noticias_content {
  transform: rotateX(0deg);
}

.card_noticias:hover img {
  transform: scale(1.05);
  opacity: 0.9;
}

/* ultimo y siguiente partido */
.matches {
  margin-top: 0;
  display: flex;
  margin: 80px 0 150px 0;
  width: 100%;
  position: relative;
  flex-flow: row;
}
/* ultimo partido */
.pre-matches-container {
  background-color: #2b2b2b;
  color: #fff;
  margin-right: 15px;
  overflow: hidden;
  height: 300px;
  width: calc(80% - 10px);
  padding: 15px 0 20px 0;
}

.pre-matches-title {
  display: flex;
  text-transform: uppercase; 
  font-size: 35px;
  font-weight: 500;
  width: 100%;
  margin: 10px 0 20px 110px;
  padding-left: 15px;
  color: hsl(17, 100%, 57%);
}
.pre-matches-data {
  display: flex;
  flex-flow: row;
}

.pre-match-date {
  background-color: black;
  margin: 0 20px 0 100px;
  padding: 20px 20px 250px 20px;
  display: flex;
  flex-direction: column;
  height: 45px;
  align-items: center;
}

.match-day {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 500;
  color: #fff;  
}
.match-month {
  font-size: 22px;
  color: #d8d8d8;
}

.pre-match-result {
  display: flex;
  padding: 20px 30px;
}

.match-info-container {
  display: flex;
  flex-direction: column;
}
.date-info {
  font-size: 23px;
  font-weight: 500;
  color: #8a8a8a;
}
.team-container {
  margin: 8px 0;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team-name {
  text-transform: uppercase; 
  font-size: 21px;
  font-weight: 500;
  color: antiquewhite;
}
.team-result {
  font-size: 23px;
  color: #ff5e00;
  font-weight: 500;
  font-style: italic;
}

/* siguiente partido */
.post-matches-container {
  background-color: black;
  margin-left: auto;
  margin-top: 5px;
  overflow: hidden;
  height: 320px;
  width: calc(97% - 10px);
  margin-right: 15px;
  overflow: hidden;
  height: 300px;
  width: calc(80% - 10px);
  padding: 25px 0 20px 0;
}

.post-matches-title {
  display: flex;
  text-transform: uppercase; 
  font-size: 35px;
  font-weight: 500;
  width: 100%;
  margin: 10px 0 20px 110px;
  padding-left: 15px;
  color: #fff;
}
.post-matches-data {
  display: flex;
  flex-flow: row;
}

.post-match-date {
  background-color: #ff5e00;
  margin: 0 20px 0 100px;
  padding: 20px 20px 250px 20px;
  display: flex;
  flex-direction: column;
  height: 45px;
  align-items: center;
}

.incoming-match-day {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 500;
  color: black;  
}
.incoming-match-month {
  font-size: 22px;
  color: black;
}

.post-match-incoming {
  display: flex;
  padding: 20px 30px;
}

.incoming-match-info-container {
  display: flex;
  flex-direction: column;
}
.incoming-date-info {
  font-size: 21px;
  font-weight: 500;
}

.incoming-team-container {
  margin: 8px 0;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.incoming-team-name {
  text-transform: uppercase; 
  font-size: 21px;
  font-weight: 500;
  color: antiquewhite;
}
.incoming-team-table {
  font-size: 23px;
  padding-left: 30px;
  font-weight: 500;
  font-style: italic;
}