/* carrusel */
.carru {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #1D1D1D 0%, rgba(29, 29,27, 0) 100%);
    overflow: hidden;
    z-index: 1;
}
/* overlay */
.overlay {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 40px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.7px); /* desenfoque */
}

.overlay .redes {
  width: 100%;
}

.redes-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 40px;
}

.social-media {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  background: rgba(29,29,29,0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.social-media:hover {
  background: var(--color-naranja-hover);
}

/* noticias */
.noticias-carrusel-constante {
  position: relative; 
  overflow: hidden;
  margin-top: -100px;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  z-index: 10; 
}

.titulo-noticias {
  position: absolute;
  top: 20px;
  padding: 15px 60px;
  border-radius: 0 40px 40px 0;
  background-color: var(--color-gris-oscuro);
  color: var(--color-blanco);
  font-size: 2.2rem;
  font-weight: bold;
  z-index: 20;
  letter-spacing: 1px;
}

.noticias-track {
  display: flex;
  width: max-content;
  animation: scrollNoticias 55s linear infinite;
  animation-direction: reverse;
}

@keyframes scrollNoticias {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.card_noticias {
  position: relative;
  width: 380px;
  height: 250px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  perspective: 1000px;
  flex: 0 0 auto;
  margin-right: 20px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}


.card_noticias img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card_noticias_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card_noticias:hover .card_noticias_content {
  transform: rotateX(0deg);
}

.card_noticias:hover img {
  transform: scale(1.05);
  opacity: 0.9;
}

.mas-noticias {
  margin: 10px 70px;
  display: flex;
  justify-content: end;  
}

/* Partidos*/
.matches {
  background-color: var(--color-gris-oscuro);
  margin: 70px 0;
  padding: 20px;
}

.titulo-matches {
  color: var(--color-blanco);
  margin: 5px 5px ;
  padding: 70px 10px 20px 190px;
  font-size: 50px;
}

.matches-container {
  display: flex;
  justify-content: space-around;
}

.pre-matches-container {
  background-color: red;

}
.pre-top {
  display: flex;
justify-content: space-between;
  background-color: blue;
}
.pre-matches-data {
  background-color: violet;
}
