@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --color-naranja: #ff5e00;
  --color-naranja-hover: #ff7f3f;
  --color-gris: #414141;
  --color-gris-oscuro: #2e2e2e;
  --color-blanco-gris: #d4d4d4;
  --color-blanco: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-gris);
}

a{
  list-style: none;
  text-decoration: none;
  color: white;
}
