@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.nav {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 3%;
    background: linear-gradient(
        180deg,
        #1D1D1D 0%,
        rgba(29, 29, 27, 0) 100%
    );
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: wheat;
}

.nav-left {
    display: flex;
    align-items: center;
}
.nav-menu {
    display: flex;
    list-style: none;
    margin-left: 20px;
}
.logo-nav{
    max-height: 85px;
    margin: 0 20px 0 0;
    border-radius: 20px;
}

.nav-item{
    margin: 0 20px 0 20px;
}

.users-links {
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    
}

.users-links a {
    margin:0  25px;
}

.carru {
    position: relative;
    width: 100%;
    height: 900px;
    background: linear-gradient(180deg, #1D1D1D 0%, rgba(29, 29,27, 0) 100%);
    overflow: hidden;
}

.overlay {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  z-index: 10;
}


.izquierda {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 40px;  
}

.primercard {
  background: rgba(255,255,255,0.85);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 40px;
}

.social-media {
  width: 60px;
  height: 60px;
  background: rgba(29,29,29,0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.social-media:hover {
  background: #ff004f;
}
