*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.barra{
    background-color: rgb(17, 17, 17);
    color: white;
}

.icon {
    width: auto;
    height: 55px;
    border-radius: 15px;
}

.carru { 
    margin: 0 90px;
}