
.titulo-noticias {
  position: absolute;
  top: 20px;
  padding: 15px 60px;
  border-radius: 0 40px 40px 0;
  background-color: var(--color-gris-oscuro);
  color: var(--color-blanco);
  font-size: 2.2rem;
  font-weight: bold;
  z-index: 20;
  letter-spacing: 1px;
}

.noticias-conteiner {
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;

}

@keyframes scrollNoticias {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.card_noticias {
  position: relative;
  width: 380px;
  height: 250px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  perspective: 1000px;
  flex: 0 0 auto;
  margin-right: 20px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}


.card_noticias img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card_noticias_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card_noticias:hover .card_noticias_content {
  transform: rotateX(0deg);
}

.card_noticias:hover img {
  transform: scale(1.05);
  opacity: 0.9;
}

.mas-noticias {
  margin: 10px 70px;
  display: flex;
  justify-content: end;  
}