.noticias-container {
padding: 150px 450px;
display: flex;
flex-direction: column;
justify-content: center;
}

.noti-card {
  background-color: white;
  display: flex;
  margin: 50px 20px;
  border-radius: 10px;
}

.comentarios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
}

.cabecera {
  padding: 0 0 20px;
  width: 70%;
  font-size: 30px;
}
.cabecera img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  object-position: 50% 40%;
  border-radius: 10px 0 0 0;
  margin-bottom: 15px;
}

.cabecera h3, .cabecera h5, .cabecera p, .btn-ver{
  margin: 0 30px;
}

.contenido {
  max-height: 300px;
}

.subtitulo {
  padding: 20px 0;
}

.nota {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.nota.expandido {
  max-height: 2000px;
}

.btn-ver {
  display: flex;
  justify-content: end;
  padding: 15px;
}

.botonera {
  display: flex;
  padding: 0 0 15px;
  justify-content: space-between;
}
.btn-ico {
  display: flex;
  flex-direction: column;
}