.card {
  width: 880px;
  height: 180px;
}

ul {
  font-style: none;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}
.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}
.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}
.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card:hover .content {
  transform: rotateY(180deg);
}
@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }
  0% {
    transform: rotateZ(360deg);
  }
}
.front {
  transform: rotateY(180deg);
  color: white;
}
.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.circulos {
  display: flex;
  justify-content: space-between;
  color: var(--color-naranja);
  padding: 30px;
  margin-top: 50px;
  gap: 50px;
  justify-content: center;
}

.circulo {
  background-color: var(--color-naranja);
  padding: 10px;
  border-radius: 50%;
  
}

.icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.icono i {
  font-size: 34px;
  color: var(--color-naranja);

}

.icono-span {
  margin-top: 15px;
  font-size: 20px;
  color: #fff;
}


.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.title p {
  width: 50%;
}

.icono-logo {
  height: 50px;
  object-fit: contain; 
}


.boton-check {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  
  
  .circulos {
    display: flex;
    justify-content: center;
    color: var(--color-naranja);
    padding: 0px;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 30px;
  }

  .circulo {
    background-color: var(--color-naranja);
    padding: 10px;
    border-radius: 50%;

  }

  .icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .icono i {
    font-size: 34px;
    color: var(--color-naranja);

  }

  .icono-span {
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
  }


  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  .title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .title p {
    width: 50%;
  }

  .icono-logo {
    height: 50px;
    object-fit: contain; 
  }


  }